@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.font--regular {
	font-weight: 400;
}

.font--medium {
	font-weight: 500;
}

.font--semibold {
	font-weight: 600;
}
