@import "../../style/fonts.scss";
@import "../../style/general.scss";

$timestampSpacing: 5px;
$iconWidth: 40px;

.timestamp {
	display: flex;
	position: relative;
	background-color: var(--white);
	border-radius: var(--defaultBorderRadius);
	border: 1px solid var(--borderBlack);
	margin: 0 $timestampSpacing;
	font-size: 12px;
}

.timestamp__icon {
	@extend .purpleHandle;

	position: absolute;
	top: 0;
	left: 0;
	width: $iconWidth;
	height: inherit;
	text-align: center;

	.material-icons {
		font-size: 21px;
		line-height: inherit;
	}
}

.timestamp__time {
	@extend .font--medium;

	margin-left: $iconWidth;
	padding: 0 8px;
	color: var(--purple);
}

.timestamp__extra {
	position: relative;
	width: calc(#{$iconWidth} * 0.667);
	overflow: hidden;
}

.timestamp__extra__content {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
